In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [16]:
df_drug = pd.read_csv("drug200.csv")

In [17]:
df_drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [18]:
#Pretraitement des données :

In [19]:
##Les outliers – les valeurs extrêmes  +  les valeurs aberrantes

def count_outliers(data,col):
        q1 = data[col].quantile(0.25,interpolation='nearest')
        q2 = data[col].quantile(0.5,interpolation='nearest')
        q3 = data[col].quantile(0.75,interpolation='nearest')
        q4 = data[col].quantile(1,interpolation='nearest')
        IQR = q3 -q1
        global LLP
        global ULP
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers in",i)
        else:
            print("There are outliers in",i)
            x = data[data[col]<LLP][col].size
            y = data[data[col]>ULP][col].size
            a.append(i)
            print('Count of outliers are:',x+y)
            
global a
a = []
df_drug1 = df_drug.drop(['Sex','BP','Cholesterol','Drug'], axis=1)
for i in df_drug1.columns:
    count_outliers(df_drug,i)
    
#On va effectuer des operations de normalisation sur ces types de valeurs

No outliers in Age
There are outliers in Na_to_K
Count of outliers are: 8

In [20]:
##Nettoyage des données :

In [21]:
#Recherche des valeurs manquantes
#Chercher le nombre des valeurs manquantes
df_drug.isnull().sum()

#On n'a pas aucune valeur manquante

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [22]:
#Recherche des valeurs dupliquées (doublons)
df_drug.duplicated()
#Pas de doublons dans le dataset

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [23]:
#Normalisation des données : Ajustement d’échelle des variables

In [24]:
##Appliquons la methode MIN-MAX
#On les applique sur le champ "Na_to_K"
from sklearn import preprocessing
import pandas as pd
scaler = preprocessing.MinMaxScaler()
df_drug_scaled0["Na_to_K"] = pd.DataFrame(scaler.fit_transform(pd.DataFrame(df_drug_scaled0["Age"])),columns=["Na_to_K"])
display(df_drug_scaled0["Na_to_K"])
display(df_drug)

NameError: name 'df_drug_scaled0' is not defined

In [12]:
#On peut appliquer aussi le Z-SCORE
df_drug_scaled1=df_drug
df_drug_scaled1["Na_to_K"] = (df_drug_scaled1["Na_to_K"] - df_drug_scaled1["Na_to_K"].mean()) / df_drug_scaled1["Na_to_K"].std()
display(df_drug_scaled1)

     Age Sex      BP Cholesterol   Na_to_K   Drug
0     23   F    HIGH        HIGH  1.283302  DrugY
1     47   M     LOW        HIGH -0.414106  drugC
2     47   M     LOW        HIGH -0.826484  drugC
3     28   F  NORMAL        HIGH -1.147084  drugX
4     61   F     LOW        HIGH  0.271114  DrugY
..   ...  ..     ...         ...       ...    ...
195   56   F     LOW        HIGH -0.625348  drugC
196   16   M     LOW        HIGH -0.564578  drugC
197   52   M  NORMAL        HIGH -0.856938  drugX
198   23   M  NORMAL      NORMAL -0.285783  drugX
199   40   F     LOW      NORMAL -0.655525  drugX

[200 rows x 6 columns]

In [13]:
#Réduction de la dimensionnalité (PCA) :
#On n'a pas besoin de l'appliquer puisque le nombre features n"est pas très grand